<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title></title>
  </head>
  <body ng-app="ourModule" ng-controller="ourController">

<div id= "wholeBox">


  <h2>To-Do List</h2>

  <div class="col" id='one'>
    <h3>Monday</h3>

    <div class="itemsToDo">
      <div ng-repeat="item in toDoListMonday">
        <label><input type="checkbox">  {{item.name}}</label>
      </div>
    </div>

    <div id="monday" class="input">
      <input type="text" ng-model="mondayChores.name">
    </br>
      <button type="button" ng-click="addTaskMonday(mondayChores)">Add Item</button>
    </div>
  </div>

  <div class="col" id="two">
    <h3>Tuesday</h3>

    <div class="itemsToDo">
      <div ng-repeat="item in toDoListTuesday">
        <label><input type="checkbox">  {{item.name}}</label>
      </div>
    </div>

    <div id="tuesday" class="input">
      <input type="text" ng-model="tuesdayChores.name">
    </br>
      <button type="button" ng-click="addTaskTuesday(tuesdayChores)">Add Item</button>
    </div>
  </div>

<div class="col" id="three">
    <h3>Wednesday</h3>

    <div class="itemsToDo">
      <div ng-repeat="item in toDoListWednesday">
        <label><input type="checkbox">  {{item.name}}</label>
      </div>
    </div>

    <div id="wednesday" class="input">
      <input type="text" ng-model="wednesdayChores.name">
    </br>
      <button type="button" ng-click="addTaskWednesday(wednesdayChores)">Add Item</button>
    </div>
  </div>

<div class="col" id="four">
    <h3>Thursday</h3>

    <div class="itemsToDo">
      <div ng-repeat="item in toDoListThursday">
        <label><input type="checkbox">  {{item.name}}</label>
      </div>
    </div>

    <div id="thursday" class="input">
      <input type="text" ng-model="thursdayChores.name">
    </br>
      <button type="button" ng-click="addTaskThursday(thursdayChores)">Add Item</button>
    </div>
  </div><!--End of Thursday to-do ------------->

<div class="col" id="five">
    <h3>Friday</h3>

  <div class="itemsToDo">
    <div ng-repeat="item in toDoListFriday">
       <label><input type="checkbox">  {{item.name}}</label>
    </div>
  </div>

  <div id="friday" class="input">
    <input type="text" ng-model="fridayChores.name">
  </br>
    <button type="button" ng-click="addTaskFriday(fridayChores)">Add Item</button>
  </div>
</div>

</div>

  <script src="angular.min.js"></script>
  <script src="script.js"></script>
  </body>
</html>
